// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~venobox/dist/venobox.min.css';


.uploader-ui{
    width: 100px;
    height: 100px;
}

.editImg{
    width: 100px;
}

.thumbnail-img{
    margin-left: -20px;
}

.active{
    border-radius: 10px;
    color: white !important;
    background-color: #3b82f6;
}
